<div class="Taxes">
	<div class="TaxesHeader">
		<div class="TaxesHeaderAddress">
      <h1> <i class="fas fa-donate btnRemove"></i> ألضريبة</h1>
		</div>
    <div class="TaxesHeaderBtn">
      <button mat-raised-button [hidden]="!isDisplay" (click)="save('add')"> {{ 'ACTIONS.SAVE' | translate }} <i class="text-success far fa-save"></i></button>
      <button mat-raised-button [hidden]="isDisplay" (click)="save('edit')">  {{ 'ACTIONS.EDIT' | translate }} <i class="text-primary far fa-edit"></i></button>
      <button mat-raised-button (click)="clear()"> {{ 'ACTIONS.NEW' | translate }} <i class="text-danger far fa-plus-square"></i></button>
      <span class="sp-bckk ">
        <a>
          <i class="fas fa-arrow-circle-left" (click)="navigateBack()"></i>
        </a>
      </span>
    </div>
	</div>
	<div class="TaxesBody">
		<div class="row">
			<div class="col-md-5">
				<div class="TaxesBodyData">
          <mat-form-field appearance="outline">
            <mat-label>  {{ 'APPLICATIONS.NAMEAR' | translate }} </mat-label>
            <input matInput [(ngModel)]="taxes.nameAr">
          </mat-form-field>
					<br />

          <mat-form-field appearance="outline">
            <mat-label> {{ 'APPLICATIONS.NAMEEN' | translate }} </mat-label>
            <input matInput [(ngModel)]="taxes.nameEn">
          </mat-form-field>
					<br />

					<mat-form-field appearance="outline">
            <mat-label> {{ 'APPLICATIONS.VALUE' | translate }} </mat-label>
						<input matInput [(ngModel)]="taxes.percentValue">
					</mat-form-field> %
					<br />
          <mat-checkbox [(ngModel)]="taxes.isActive">{{ 'GENERALSETTINGS.ACTIVE' | translate }}</mat-checkbox>
					<br />
					<!--<mat-radio-group [(ngModel)]="taxes.discountId">
						<div class="selectPlace" *ngFor="let type of listDiscountType">
							<mat-radio-button [value]="type.id">{{type.nameAr}}</mat-radio-button>
						</div>
					</mat-radio-group>-->
				</div><br/>
			</div>
			<div class="col-md-7">
				<div class="TaxesBodytable">
					<div class="example-container mat-elevation-z8">
						<table>
							<thead>
								<tr>
									<th class="mat-header-cell" scope="col">م</th>
                  <th class="mat-header-cell" scope="col"> {{ 'APPLICATIONS.NAMEAR' | translate }} </th>
                  <th class="mat-header-cell" scope="col"> {{ 'APPLICATIONS.NAMEEN' | translate }} </th>
                  <th class="mat-header-cell" scope="col">  {{ 'APPLICATIONS.VALUE' | translate }} </th>
									<th class="mat-header-cell" scope="col"><i class="far fa-check-square"></i></th>
									<th class="mat-header-cell" scope="col"><i class="fas fa-trash"></i></th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let tax of TaxesList; let i=index">
									<td class="mat-cell" scope="row">{{i+1}}</td>
									<td class="mat-cell">{{tax.nameAr}}</td>
									<td class="mat-cell">{{tax.nameEn}}</td>
									<td class="mat-cell">{{tax.percentValue}}</td>
									<!--<td class="mat-cell"> <mat-radio-button [value]="tax.isActive"></mat-radio-button>  </td>-->
									<td class="mat-cell">
										<button mat-icon-button (click)="getById(tax)">
                      <i class="far fa-check-square"></i>
                    </button>
									</td>
									<td class="mat-cell">
										<button mat-icon-button (click)="deleteTax(deleteConfirm,tax)">
                      <i class="fas fa-trash"></i>
                    </button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #deleteConfirm>
  <div class="modal-body text-center">
    <p>{{ 'Messages.DeleteConfirm' | translate }}</p>
    <button type="button" class="btn btn-danger" (click)="deleteTaxConfirm()">
      <p>{{ 'LABELS.CONFIRM' | translate }}</p>
    </button>
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">{{ 'LABELS.EXITE' | translate }}</button>
  </div>
</ng-template>
