.searcCustByName .mat-form-field {
    width: 244px;
    height: 55px;
}
.searchCustByDate .mat-form-field {
    margin-left: 15px;
}
rebCustRefrech button i {
  margin-right: 15px;
}
.customeraddress {
  display:inline-block;
}
.sp-bckk {
  margin-right: 8px;
  margin-left: 12px;
  color: #c78b8b;
  float: left;
  margin-top: -40px;
}

  .sp-bckk a i {
    font-size: 30px;
  }
